#product_customization-t_shirt
  %div=text_field_tag "t_shirt[number]", '', placeholder: "Numar", class: "product_customization-t_shirt", id: "product_customization-t_shirt-number"
  %div=text_field_tag "t_shirt[name]", '', placeholder: "Nume", class: "product_customization-t_shirt", id: "product_customization-t_shirt-name"
